<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title spi
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap")
        link(rel="stylesheet", href="/css/index.css")
        script(src="/js/index.js" defer)
    body
        div.content
            h1.title SPI - URL SHORTENER
            form#requester
                input#urlInput(placeholder="Type URL here:")
                button.activeBtn(type="submit") Generate Link
            div#notification.invisible
                div#notificationContent
