*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins", sans-serif;
}
body
{
    background:#4e89ae;
}
.content
{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    background:white;
    width:500px;
    padding:50px;
    border-radius:5px;
}
.title
{
    color:#ed6663;
}
#requester
{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    height:100%;
}
#requester .activeBtn
{
    margin:10px 0px;
}
#urlInput
{
    border:none;
    font-weight:bold;
    padding:5px;
    border-bottom:1px solid rgba(128, 128, 128, 0.575);
}
.activeBtn
{
    background:#ed6663;
    color:white;
    border:none;
    font-weight:bold;
    width:120px;
    padding:10px;
    border-radius:5px;
    cursor:pointer;
}
.invisible
{
    display:none;
}
#notificationContent
{
    font-weight:bold;
    background:#ffa372;
    border-radius:5px;
    color:white;
    padding:5px;
}